# Gr谩fica de regresi贸n y coeficientes de correlaci贸n

Utilizo gr谩ficas de regresi贸n cuando quiero visualizar no solo si existe una relaci贸n entre dos variables, sino tambi茅n **c贸mo es esa relaci贸n**, representada mediante una l铆nea que estima la tendencia general de los datos.

Estas gr谩ficas me ayudan a entender patrones, predecir valores y comprobar si la relaci贸n entre las variables es lineal o no.

Quiz谩s te preguntes: *驴pero esto no es lo mismo que una gr谩fica de dispersi贸n?*  
Y la respuesta es: casi. La diferencia es que la gr谩fica de regresi贸n **incluye una l铆nea de tendencia** sobre los mismos puntos de la dispersi贸n.

Como una imagen vale m谩s que mil palabras, ve谩moslo con una gr谩fica:

<img src="../files/correlacion_vs_regresion.png" alt="gr谩ficas" width="400">

```
Detectar la correlaci贸n entre variables puede ayudar a hacer predicciones.

```

Si una variable est谩 fuertemente correlacionada con otra, y tengo datos faltantes en una de ellas, puedo usar esa relaci贸n para estimar o predecir los valores perdidos. Esto es especialmente 煤til cuando la correlaci贸n es alta y la relaci贸n puede modelarse mediante una regresi贸n.

> Ver solo la dispersi贸n no es suficiente para predecir.

 驴Por qu茅 es importante esta distinci贸n?

La **correlaci贸n** por s铆 sola **indica que dos variables se mueven juntas**, pero no implica una relaci贸n causal, ni garantiza que puedas predecir con precisi贸n.

Para predecir valores, lo ideal es usar modelos como la **regresi贸n lineal**, que aprovechan esa correlaci贸n para **estimar los valores de una variable a partir de otra**.

Es decir: para poder hacer predicciones necesitamos la **l铆nea de regresi贸n**, no solo una gr谩fica de dispersi贸n, como vimos en el ejemplo anterior.

>  La correlaci贸n y la dispersi贸n te dicen: "parece que hay una relaci贸n".
>
>  La regresi贸n te dice: "as铆 es esa relaci贸n, y puedo usarla para predecir valores faltantes o futuros".

In [5]:
import pandas as pd
# 1锔 cargo los datos 

penguin_df= pd.read_csv('../data/pinguinos.csv')
penguin_df

,species,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE
...,...,...,...,...,...,...,...
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,FEMALE
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,MALE
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,FEMALE
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,MALE

In [6]:
# 2锔 limpio los datos 

penguin_df = penguin_df.dropna()
penguin_df

,species,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,MALE
...,...,...,...,...,...,...,...
338,Gentoo,Biscoe,47.2,13.7,214.0,4925.0,FEMALE
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,FEMALE
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,MALE
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,FEMALE
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,MALE